// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#articles {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
  // font-size:  12pt;
}

.box img {
  width: 100%;
}
